@charset "utf-8";
@font-face {
    font-family: misaki;
    src: url(/font/misaki_gothic.ttf);
    font-weight:400
}

@font-face {
    font-family: misaki;
    src: url(/font/misaki_gothic.ttf);
    font-weight:700
}

@font-face {
    font-family: serifjp;
    src: url(/font/SourceHanSerifJP-Regular.otf) format('opentype'), url(/font/SourceHanSerifJP-Regular.woff) format('woff'), url(/font/SourceHanSerifJP-Regular.woff2) format('woff2')
}

html {
}

body {
    font-family: Verdana, ヒラギノ角ゴ pro w3, hiragino kaku gothic pro, メイリオ, Meiryo, century gothic, Osaka, ＭＳ Ｐゴシック, ms pgothic, sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%;
    color: #707065;
    background:#e6e6e0
}

input {
    font-family: Verdana, ヒラギノ角ゴ pro w3, hiragino kaku gothic pro, メイリオ, Meiryo, century gothic, Osaka, ＭＳ Ｐゴシック, ms pgothic, sans-serif;
    font-size: 13px;
    color:#707065
}

textarea {
    color:#707065
}

button {
    color: #c0c0b5;
    font-family: Verdana, ヒラギノ角ゴ pro w3, hiragino kaku gothic pro, メイリオ, Meiryo, century gothic, Osaka, ＭＳ Ｐゴシック, ms pgothic, sans-serif;
    font-size:13px
}

select, textarea {
    font-family: Verdana, ヒラギノ角ゴ pro w3, hiragino kaku gothic pro, メイリオ, Meiryo, century gothic, Osaka, ＭＳ Ｐゴシック, ms pgothic, sans-serif;
    color:#707065
}

img {
    -ms-interpolation-mode: bicubic;
    border:none
}

a {
    color:#707065
}

.Selected {
    color:#4ae
}

a:hover {
    color:#19f
}

hr {
    width: 100%;
    height: 0;
    border:0
}

form, button {
    border: 0;
    margin: 0;
    padding:0
}

.BtnBase {
    display: inline-block;
    font-size: 12px;
    padding: 3px 15px;
    text-decoration: none;
    text-align: center;
    border: 1px solid #4ae;
    border-radius: 40px;
    font-weight: 700;
    background-color: #fff;
    color: #4ae;
    position: relative;
    cursor: pointer;
    font-family:Verdana, ヒラギノ角ゴ pro w3, hiragino kaku gothic pro, メイリオ, Meiryo, century gothic, Osaka, ＭＳ Ｐゴシック, ms pgothic, sans-serif
}

.BtnBase .Hint {
    display: none;
    position: absolute;
    top: 15px;
    left: -42.5px;
    position: relative;
    background: #4ae;
    width: 100px;
    padding: 5px;
    z-index: 10;
    color: #fff;
    font-size: 11px;
    font-weight:400
}

.BtnBase .Hint:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-bottom-color: #4ae;
    border-width: 10px;
    margin-left:-10px
}

.BtnBase:hover .Hint {
    display:block
}

.BtnBase.Light {
    border-color: #4ae;
    background-color: #4ae;
    color:#fff
}

.BtnBase.Light:hover {
    border-color: #19f;
    background-color:#19f
}

.BtnBase.Light.Selected {
    border-color: #08f;
    background-color:#08f
}

.BtnBase.Selected, .BtnBase.Selected:hover {
    background-color: #4ae;
    border-color: #4ae;
    color:#fff
}

.BtnBase:hover {
    background-color: #7ae;
    border-color: #7ae;
    color:#fff
}

.BtnBase.Disable, .BtnBase.Disable:hover {
    color: #cef;
    border-color: #cef;
    background-color: #fff;
    cursor:default
}

.BtnBase.SignUpTwitter {
    color: #fff;
    border-color: #1da1f2;
    background-color: #1da1f2;
    text-decoration:none !important
}

.onoffswitch {
    position: relative;
    width: 50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select:none
}

.onoffswitch .onoffswitch-checkbox {
    display:none
}

.onoffswitch .onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #eee;
    border-radius:20px
}

.onoffswitch .onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition:margin .3s ease-in 0s
}

.onoffswitch .onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 20px;
    padding: 0;
    line-height: 20px;
    font-size: 9px;
    color: #fff;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: 700;
    box-sizing:border-box
}

.onoffswitch .onoffswitch-inner:before {
    content: "OK";
    padding-left: 10px;
    background-color: #4ae;
    color: #fff;
    text-align:left
}

.onoffswitch .onoffswitch-inner:after {
    content: "NG";
    padding-right: 10px;
    background-color: #aaa;
    color: #fff;
    text-align:right
}

.onoffswitch.OnOff .onoffswitch-inner:before {
    content: "ON"
}

.onoffswitch.OnOff .onoffswitch-inner:after {
    content: "OFF";
    padding-right:6px
}

.onoffswitch .onoffswitch-switch {
    display: block;
    width: 12px;
    margin: 4px;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 26px;
    border: 2px solid #eee;
    border-radius: 20px;
    transition:all .3s ease-in 0s
}

.onoffswitch .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left:0
}

.onoffswitch .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right:0
}

#Footer {
    width: 100%;
    min-width: 1200px;
    text-align: center;
    padding: 30px 0;
    font-size: 10px;
    background: #fff;
    margin: 0;
    border-top:solid 1px #eee
}

#Footer hr {
    border-top:1px solid #555
}

#Footer a {
    color:#747474
}

#Footer .FooterCopy {
}

#Footer .FooterWarn {
    margin:20px 0 0
}

#Footer .FooterMenu {
    margin: 20px 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    text-align:left
}

#Footer .FooterMenu .FooterLink {
    flex: 0 0;
    display: flex;
    flex-flow: column;
    white-space: nowrap;
    padding:0
}

.AutoLink {
}

.AutoLinkTag {
    color:#6495ed
}

.AutoLinkMyTag {
    color: #f09090
}
